@import '../../../../theme/variables.scss';

.profile-pic-uploader {
  display: flex;
  align-items: center;
  margin-bottom: $spacing-2;
  height: 100px;

  .pic-name{
    margin-right: $spacing-2;
  }

  input[type='file'] {
    display: none;
  }

  & > button {
    width: 234.8px;
  }
}
