@import '@/theme/variables.scss';

.app-layout {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;

  main {
    padding: $spacing-3 $spacing-2;
    width: 100%;
    background-color: $page-bg-color;
  }
}
