@import './theme/typography.scss', './theme/forms.scss', './theme/global.scss',
  './theme/variables.scss';

* {
  font-family: 'Montserrat';
  font-size: 1rem;
  font-weight: 500;
  color: #292b34;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
