@charset "UTF-8";

:root {
  font-size: 16px;

  // @include onTabletAndLower {
  //   font-size: 14px;
  // }
}

body {
  background-color: white;
  margin: 0;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
